<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.tvpal" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TVPalTheme"
        android:debuggable="true">
        <activity
            android:name="is.gui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="is.gui.schedules.DisplayStod2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_display_stod2" >
        </activity>
        <activity
            android:name="is.gui.schedules.DisplayRuvActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_display_ruv" >
        </activity>
        <activity
            android:name="is.gui.schedules.DisplaySkjarinnActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_display_skjarinn" >
        </activity>
        <activity
            android:name="is.gui.schedules.DetailedEventActivity"
            android:label="@string/title_activity_detailed_event" >
        </activity>
        <activity
            android:name="is.gui.shows.MyShowsActivity"
            android:label="@string/title_activity_my_shows" >
        </activity>
        <activity
            android:name="is.gui.shows.SingleSeasonActivity"
            android:label="@string/title_activity_single_season" >
        </activity>
        <activity
            android:name="is.gui.shows.EpisodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_episode" >
        </activity>
        <activity
            android:name="is.gui.shows.UpcomingRecentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_upcoming_shows" >
        </activity>
        <activity
            android:name="is.gui.shows.SeriesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_show" >
        </activity>
        <activity
            android:name="is.gui.shows.SearchShowsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_search_shows"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="is.gui.movies.CinemaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cinema" >
        </activity>
        <activity
            android:name="is.gui.movies.DetailedCinemaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cinema" >
        </activity>
        <activity
            android:name="is.gui.movies.SearchMoviesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/title_activity_trending_movies" >
        </activity>
        <activity
            android:name="is.gui.movies.DetailedMovieActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_detailed_movie" >
        </activity>
        <activity
            android:name="is.gui.movies.TraktCommentsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/trakt_comments" >
        </activity>
        <activity
            android:name="is.gui.movies.WatchlistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/watchlist" >
        </activity>
        <activity
            android:name="is.gui.movies.RelatedMovieActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/related_movies" >
        </activity>

        <service android:name="is.gui.reminders.ScheduleService" />
        <service android:name="is.gui.reminders.NotifyService" />
    </application>

</manifest>
