<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.tvpal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="is.activites.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="is.activites.scheduleActivites.DisplayStod2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_display_stod2" >
        </activity>
        <activity
            android:name="is.activites.scheduleActivites.DisplayRuvActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_display_ruv" >
        </activity>
        <activity
            android:name="is.activites.scheduleActivites.DisplaySkjarinnActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_display_skjarinn" >
        </activity>
        <activity
            android:name="is.activites.scheduleActivites.DetailedEventActivity"
            android:label="@string/title_activity_detailed_event" >
        </activity>
        <activity
            android:name="is.activites.showActivities.MyShowsActivity"
            android:label="@string/title_activity_my_shows" >
        </activity>
        <activity
            android:name="is.activites.showActivities.SingleSeasonActivity"
            android:label="@string/title_activity_single_season" >
        </activity>
        <activity
            android:name="is.activites.showActivities.EpisodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_episode" >
        </activity>
        <activity
            android:name="is.activites.showActivities.UpcomingShowsActivity"
            android:label="@string/title_activity_upcoming_shows" >
        </activity>
        <activity
            android:name="is.activites.showActivities.RecentShowsActivity"
            android:label="@string/title_activity_recent_shows" >
        </activity>
        <activity
            android:name="is.activites.showActivities.SeriesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_show" >
        </activity>
        <activity
            android:name="is.activites.showActivities.SearchShowsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_search_shows"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="is.activites.cinemaActivities.CinemaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_cinema" >
        </activity>
    </application>

</manifest>
